<p>------------------ComponentA----------------</p>
<button @onclick="HandleClickCount1" style="cursor:pointer;background-color:lightblue;padding:5px;color:black">ComponentA</button>
<p>Count1: @Count -- ComponentA: @_count1</p>
<button @onclick="HandleClickCount2" style="cursor:pointer;background-color:lightblue;padding:5px;color:black">ComponentA</button>
<p>Count2: @Count2 -- ComponentA: @_count2</p>
<button @onclick="HandleClickCount3" style="cursor:pointer;background-color:lightblue;padding:5px;color:black">ComponentA</button>
<p>Count3: @Count3 ComponentA: @_count3</p>

<ComponentSubA Count="_count1" Count2="_count2" Count3="_count3"></ComponentSubA>
@code {
    [Parameter] public int Count { get; set; }
    [Parameter] public int Count2 { get; set; }
    [Parameter] public int Count3 { get; set; }
    [Parameter] public EventCallback<int> CountChanged { get; set; }
    private int _count1;
    private int _count2;
    private int _count3;

    private async Task HandleClickCount1(MouseEventArgs e)
    {
        _count1 = _count1 + 1;
        // Count = Count + 1;
        await CountChanged.InvokeAsync(_count1);
    }
    private void HandleClickCount2()
    {
        _count2 = _count2 + 1;
        shouldRender = true;
    }

    private void HandleClickCount3()
    {
        _count3 = _count3 + 1;
    }

    private bool shouldRender;

    protected override void OnParametersSet()
    {
        _count1 = Count;
        _count2 = Count2;
        _count3 = Count3;

        Console.WriteLine("ComponentA - OnParametersSet::{0} - count1:{1}  - count2:{2}  - count3:{3} - {4}", shouldRender, _count1, _count2, _count3, DateTime.Now.ToString("dd-MM-yyyy hh:mm:ss"));

        shouldRender = true;

    }

    protected override bool ShouldRender()
    {
        Console.WriteLine("ComponentA - ShouldRender::{0} - {1}", shouldRender, DateTime.Now.ToString("dd-MM-yyyy hh:mm:ss"));
        if (shouldRender)
        {
            shouldRender = false;
            return true;
        }
        else
            return false;
    }
}
